{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Contacts de la plateforme - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Nous contacter</h2>

<!--   {{ include("OCPlatformBundle:Advert:form.html.twig") }}
 -->
  <p class='bg-info'>
    La page contact n'existe pas encore revenez plus tard
  </p>



{% endblock %}