<!--
	Affichage d'un formulaire relatif aux niveaux
-->

<div class="well form-group">
{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" />
    <button type="button" name="cancel">Annuler</button>
{{ form_end(form) }}
</div>