
{% extends "OFortPrerentreeBundle::layout.html.twig" %}

{% block title %}
  Supprimer une maquette - {{ parent() }}
{% endblock %}

{% block ofortprerentree_body %}

  <h4>Supprimer une maquette</h4>

 	<div class="alert alert-danger" role="alert">
  		Confirmer la suppression de la maquette {{ maquette.nom}}
	</div>
  <button type="button" class="btn btn-danger"><a href="{{ path('o_fort_prerentree_maquette_confirmDel', {'id': maquette.id}) }}">Je confirme</a></button>
  <button type="button" class="btn btn-success"><a href="{{ path('o_fort_prerentree_maquette') }}">Non surtout pas !</a></button>
  


{% endblock %}