
{% extends "OFortPrerentreeBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Ajouter un enseignement - 
{% endblock %}

{% block ofortprerentree_body %}

  <h4>Ajouter une discipline</h4>

  {{ include("OFortPrerentreeBundle:Disciplines:formDiscipline.html.twig") }}

{% endblock %}