
{% extends "OFortPrerentreeBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Ajouter une division - 
{% endblock %}

{% block ofortprerentree_body %}

  <h4>{{ action }}</h4>

  {{ include("OFortPrerentreeBundle:Divisions:formDivision.html.twig") }}

{% endblock %}